# Auto detect text files and perform LF normalization
* text=auto

# Linux Files
*.sh eol=lf

# Windows Specific Files
*.bat eol=crlf
*.ps1 eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
