/*
<div class="nestedargumentss">
    <span>
        <command>ssh</command>
        <arguments>user@server</arguments>
        <span>
            <command>screen</command>
            <arguments>-t sessionHost -U</arguments>
            <span>
                <command>docker run</command>
                <arguments>-d --cpuset-cpus="7" --name CSGOTourney_123_Tue10h21m11s -p=172.30.5.27:1200:1200/udp -p=172.30.5.27:1500:1500/udp -p=172.30.5.27:3005:3005/udp -p=172.30.5.27:3101:3101/udp -p=172.30.5.27:28960:28960/udp -p=172.30.5.27:3478-3479:3478-3479/udp -p=172.30.5.27:4379-4380:4379-4380/udp -p=172.30.5.27:26900-26915:26900-26915/udp -p=172.30.5.27:27000-27030:27000-27030/udp -p=172.30.5.27:27014-27050:27014-27050/tcp -v /home/sysoper/logs/gamesvr-csgo-tourney:/gamesvr/csgo/csgo/logs -v /home/sysoper/logs/gamesvr-csgo-tourney/warmod:/gamesvr/csgo/csgo/warmodlogs ll/gamesvr-csgo-tourney</arguments>
                <span>
                    <command>srcds_run</command>
                    <arguments> -game csgo +game_type 0 +game_mode 1 -tickrate 128 -console -usercon +mapgroup mg_active +map de_train +hostname "CSGO_Match_123_red_v_blue" +sv_password "penguinspreferscissors" +sv_lan 1 +mp_teamname_1 "red" +mp_teamname_2 "blue" +rcon_password "HawksPreferStoves8495" +tv_name "zLLTV_CSGO_BRACKET_123" +tv_password "brianprefersmustard567" +tv_relaypassword "brianprefersmustard567"</arguments>
                </span>
            </span>
        </span>
    </span>
</div>
*/

arguments {
    color: rgba(128, 128, 128, 1.0);
    position: relative;
    left: 40px;
    padding-right: 50px;
}

.nestedargumentss {
    background-color: #eee;
    padding: 10px;
    border: thick solid #666;
}

span {
    color: rgba(1, 78, 195, 1.00);
}

arguments:after {
    content: "\000A";
    white-space: pre;
}

command:after {
    content: "\000A";
    white-space: pre;
}

command {
    text-indent: -4em;
}